@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';

@theme {
/* - Navy 850 (intro and email sign up background) */
/* - Navy 900 (main background) */
/* - Navy 950 (footer background) */
/* - Navy 800 (testimonials background) */
/* - Teal 200 (inside call-to-action gradient): hsl(176, 68%, 64%) */
/* - Cyan 500 (inside call-to-action gradient): hsl(198, 60%, 50%) */
/* - Red 500 (error): hsl(0, 100%, 63%) */

  /* colors */

  --color-Navy850: hsl(217, 28%, 15%);
  --color-Navy900: hsl(218, 28%, 13%);
  --color-Navy950: hsl(216, 53%, 9%);
  --color-Navy800: hsl(219, 30%, 18%);
  --color-Teal200: hsl(176, 68%, 64%);
  --color-Cyan500: hsl(198, 60%, 50%);
  --color-Red500: hsl(0, 100%, 63%);
  --color-Offwhite: hsl(0, 0%, 68%);
  --color-White: hsl(0, 0%, 100%);

  /* fonts */
  --font-OpenSans: 'Open Sans', sans-serif;
  --font-Raleway: 'Raleway', sans-serif;
}

@layer base{
  body{
    background-color: var(--color-Navy850);
    color: var(--color-White);
    font-family: var(--font-OpenSans);
    font-size: 14px;
  }
}
